@import "tailwindcss";
@plugin "daisyui";

/* WebKit-based browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0);  
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.7);  
}

 .scrollbar-hide {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar-hide:hover {
    scrollbar-color: rgba(156, 163, 175, 0.7) transparent;
}
